/* Write your CSS here */

.bg-container {
  height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 80%;
  padding: 20px;
}

.top-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  border: 0px none transparent;
  border-radius: 10px;
  padding: 30px;
  width: 60%;
  box-sizing: border-box;
}
.heading {
  color: #475569;
  font-family: 'Roboto';
  margin-left: 20px;
}
.span-ele {
  color: #0b69ff;
  font-family: 'Roboto';
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  padding: 30px;
}
.form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  padding: 30px;
  margin-right: 30px;
  width: 40%;
}
.history-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  padding: 30px;
  margin-left: 20px;
  width: 60%;
}
.history-payment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.list-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding: 6px;
}
.title {
  color: #1e293b;
  font-family: 'Roboto';
  font-weight: bold;
}
.type {
  margin-right: 110px;
}
.history {
  color: #475569;
  font-family: 'Roboto';
  margin-left: 26px;
}
.input-heading {
  color: #cbd5e1;
  margin-bottom: 5px;
}
.title-input {
  outline: none;
  height: 30px;
  border: 1px solid #d7dfe9;
}
.button {
  background-color: #0b69ff;
  border: 0px none transparent;
  width: 90px;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
}
