/* Write your CSS here */
.list-container1 {
  display: flex;
  justify-content: space-around;
  width: 240px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
}
.del-button {
  background-color: transparent;
  border: 0px none transparent;
}
.delete-image {
  height: 30px;
  width: 30px;
}
@media (min-width: 768px) {
  .list-container1 {
    display: flex;
    justify-content: space-around;
    width: 90%;
    list-style-type: none;
    border: 1px solid #cbd5e1;
    padding: 6px;
  }
}
